(pieces: [
    (
        //specifier: "bomb",
        specifier: "Airship_station",
        offset: (0, 0, 1),
        overrides: {
            3: (kind: GlowingRock),
            5: (kind: Air, sprite: Some(Ember)),
            6: (kind: Air, sprite: Some(CraftingBench), ori: Some(0)),
            7: (kind: Air, sprite: Some(Forge), ori: Some(2)),
            8: (kind: Air, sprite: Some(Cauldron), ori: Some(4)),
            9: (kind: Air, sprite: Some(Anvil), ori: Some(0)),
            10: (kind: Air, sprite: Some(CookingPot), ori: Some(4)),
            11: (kind: Air, sprite: Some(SpinningWheel), ori: Some(2)),
            12: (kind: Air, sprite: Some(TanningRack), ori: Some(2)),
            13: (kind: Air, sprite: Some(Loom), ori: Some(6)),
            14: (kind: Air, sprite: Some(DismantlingBench), ori: Some(6)),
            15: (kind: Air, sprite: Some(RepairBench), ori: Some(0)),
            21: (kind: Air, sprite: Some(SmokeDummy), ori: Some(0)),
            22: (kind: Air, sprite: Some(FireBowlGround)),
            23: (kind: Air, sprite: Some(LampMetalBase), ori: Some(1)),
            25: (kind: Air, sprite: Some(LanternAirshipGroundBlackS), ori: Some(1)),
            26: (kind: Snow),
            27: (kind: Snow),
            30: (kind: Air, sprite: Some(ChristmasOrnament), ori: Some(4)),
            31: (kind: Air, sprite: Some(ChristmasOrnament), ori: Some(2)),
            32: (kind: Air, sprite: Some(ChristmasOrnament), ori: Some(0)),
            33: (kind: Air, sprite: Some(ChristmasOrnament), ori: Some(6)),
            34: (kind: Air, sprite: Some(ChristmasWreath), ori: Some(4)),
            38: (kind: Air, sprite: Some(Orb)),
            131: (kind: Air, sprite: Some(Window4), ori: Some(0)),
            132: (kind: Air, sprite: Some(Window4), ori: Some(2)),
            133: (kind: Air, sprite: Some(Door), ori: Some(4)),
            134: (kind: Air, sprite: Some(Door), ori: Some(0)),
            135: (kind: Air, sprite: Some(Door), ori: Some(0)),
            136: (kind: Air, sprite: Some(Door), ori: Some(4)),
            137: (kind: Air, sprite: Some(LanternAirshipWallBlackS), ori: Some(2)),
            138: (kind: Air, sprite: Some(LanternAirshipWallBlackS), ori: Some(4)),
            139: (kind: Air, sprite: Some(LanternAirshipWallBlackS), ori: Some(0)),
            140: (kind: Air, sprite: Some(LanternAirshipWallBlackS), ori: Some(6)),
            141: (kind: Air, sprite: Some(TableCoastalLarge), ori: Some(0)),
            142: (kind: Air, sprite: Some(TableCoastalLarge), ori: Some(2)),
            143: (kind: Air, sprite: Some(BenchCoastal), ori: Some(0)),
            144: (kind: Air, sprite: Some(BenchCoastal), ori: Some(2)),
            145: (kind: Air, sprite: Some(BenchCoastal), ori: Some(4)),
            146: (kind: Air, sprite: Some(BenchCoastal), ori: Some(6)),
            147: (kind: Air, sprite: Some(BedMesa), ori: Some(0)),
            148: (kind: Air, sprite: Some(BedMesa), ori: Some(2)),
            149: (kind: Air, sprite: Some(BedMesa), ori: Some(4)),
            150: (kind: Air, sprite: Some(BedMesa), ori: Some(6)),
            151: (kind: Air, sprite: Some(BedMesa), ori: Some(1)),
            152: (kind: Air, sprite: Some(WardrobesingleWoodWoodland2), ori: Some(0)),
            153: (kind: Air, sprite: Some(WardrobesingleWoodWoodland2), ori: Some(2)),
            154: (kind: Air, sprite: Some(WardrobesingleWoodWoodland2), ori: Some(4)),
            155: (kind: Air, sprite: Some(WardrobesingleWoodWoodland2), ori: Some(6)),
            156: (kind: Air, sprite: Some(BookshelfArabic), ori: Some(0)),
            157: (kind: Air, sprite: Some(BookshelfArabic), ori: Some(2)),
            158: (kind: Air, sprite: Some(BookshelfArabic), ori: Some(4)),
            159: (kind: Air, sprite: Some(BookshelfArabic), ori: Some(6)),
            160: (kind: Air, sprite: Some(CoatrackMetalWoodland)),
            165: (kind: Air, sprite: Some(DungeonWallDecor)),
            166: (kind: Air, sprite: Some(DungeonWallDecor), ori: Some(2)),
            167: (kind: Air, sprite: Some(DoorWideAirship)),
            168: (kind: Air, sprite: Some(DoorWideAirship), ori: Some(4)),
            169: (kind: Air, sprite: Some(HandrailWoodWoodlandBase), ori: Some(2)),
            170: (kind: Air, sprite: Some(HandrailWoodWoodlandMiddle), ori: Some(2)),
            171: (kind: Air, sprite: Some(HandrailWoodWoodlandTop), ori: Some(2)),
            //253: (kind: Air, sprite: Some(Bomb)),
            254: (kind: Water),
            },
        ),
])
//Place at: 14728 16567 377
//    (
//        // Place at: 17705 14978 237
//        specifier: "stage",
//        offset: (0, 0, 0),
//        overrides: {
//            180: (kind: Air, sprite: Some(WallLampSmall), ori: Some(0)),
//        },
//    ),
